[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "avar"]
	path = avar
	url = https://github.com/smac-group/avar
	shallow = true
	registered = true
[submodule "ib"]
	path = ib
	url = https://github.com/smac-group/ib
	shallow = true
	registered = true
[submodule "simts"]
	path = simts
	url = https://github.com/smac-group/simts
	shallow = true
	registered = true
[submodule "wv"]
	path = wv
	url = https://github.com/smac-group/wv
	shallow = true
	registered = true
